body {
    color: #1E6675;
    background: linear-gradient(to bottom, #72B6C5, #EEEFE3);
    min-height: 100vh; /* Ensure it covers the full height */
    margin: 0; /* Remove default margin */
}

#paige-content {
    background-color: #EEF0E3;
    margin: 20px; /* Adjust the margin as needed */
    padding: 20px; /* Add padding inside the div */
    border-radius: 10px; /* Adjust the border radius as needed for rounded corners */
}

.nav-link {
    color: white;
}

.nav-link.active {
    font-weight: bold;
}

h1 {
    color: #BA205E
}

a {
    color: #1E6675
}
